@import url ('https://fonts.googleapis.com/css2? family = Pattaya & display = swap');

*{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

main{
    display: flex;
    background: aqua;
    width: 400px;
    /*height: 400px;*/
}

.class{
    flex-wrap: wrap;
    align-items: center;
  }

.div1{
    
   justify-content: space-around;
   background: blueviolet; 
   width: 100px;
   height: 200px;
}

.div2{
    justify-content: space-around;
   background: chartreuse; 
   width: 100px;
   height: 200px;
}

.div3{
    justify-content: space-around;
   background: rgb(8, 14, 14); 
   width: 100px;
   height: 200px;
}

.div4{
    justify-content: space-around;
    background: blue; 
   width: 100px;
   height: 200px;
}

