*{
    margin: 0;
    padding: 0;
}

.div1 {
    background-image: linear-gradient(to left, #5BF03D, #5EF0BB);
    padding: 10px;
}

#titulo2{
    padding-top: 5px;
}

#titulo1, #titulo2{
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
} 





